 # Data science tools and ecosystem

In this notebook data science tools and ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.
# Addition
3 + 2

# Multiplication
4 * 5

# Division
10 / 2

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create and format tables using Markdown  
- Demonstrate arithmetic expression examples in Python  
- Introduce development environment tools for Data Science

## Author:
## Omar Hazem